@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    font-family: 'Karla', sans-serif;
}

#main-div {
    background-color: whitesmoke;
    border-radius: 3%;
    width: 90%;
    margin: 5% auto;
}

#logo {
    margin-top: 5%;
}

.sisub {
    font-size: 20px !important;
    width: 38%;
    margin: 1% 0;
}

#start-btn {
    font-size: 30px !important;
    width: 75%;
    margin: 2% auto 10%;
}

#confirm-password {
    display: none;
}

.input-field {
    width: 75%;
    margin: 0 auto;
}

@media (min-width: 1000px){
    #main-div {
        width: 35%;
    }
}