.if-wrapper {
    padding: 5px 15%;
}

p {
    font-size: 20px;
    color: teal;
}

.result-div {
    font-size: 35px;
    margin: 1% 0;
}

#languages {
    text-align: start;
}

.language {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #505050;
    line-height: 25px;
    padding: 0 8px;
    margin: 2px 6px;
    border-radius: 16px;
    background-color: #DDDDDD;
}

i.tiny {
    cursor: pointer;
    float: right;
    line-height: 25px;
    padding-left: 2px;
}

#score {
    color: teal;
}

#translated-text {
    color: teal;
}

#garble-text-btn {
    margin: 2%;
}

#results {
    visibility: hidden;
}

#error-div {
    width: 240px;
    height: 20px;
    color:red;
    margin: 0;
    text-align: start;
    display: none;
}

nav {
    background-color: darkgrey !important;
}

.nav-link {
    font-size: 20px;
}